body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(130, 159, 177);
  font-weight: 100;
}
h1 {
    color: white;
    text-decoration: underline;
}
h3 {
    //margin: 0px;
    color: white;
}
h4 {
    color: white;
    margin: 0px;
}
h8 {
    color: white;
    margin: 0px;
}

#lot_list {
    border: 3px solid black;
    width: 33%;
    height: 750px;
    margin: 20px;
    box-shadow: 5px 5px 5px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(128, 151, 224);
}

#lot_overview {
    border: 3px solid black;
    width: 60%;
    margin: 20px;
    box-shadow: 5px 5px 5px black;
    display: flex;
    flex-direction: column;
    background-color: rgb(128, 151, 224);
    justify-content: center;
}

#overview_view {
    border: 3px solid black;
    width: 90%;
    height: 700px;
    align-self: center;
    background-color: white;
    overflow: scroll;
    background-color: rgb(112, 112, 112);
    box-shadow: 5px 5px 5px black;

}

#lot_list_view {
    border: 3px solid black;
    width: 90%;
    height: 700px;
    //margin: 20px;
    background-color: rgb(112, 112, 112);
    overflow: scroll;
    align-self: center;
    box-shadow: 5px 5px 5px black;

}

#parking_spot {
    margin: 3px;
    display: inline-block;
    border-top: 3px solid yellow;
    border-left: 3px solid yellow;
    border-right: 3px solid yellow;
    height: 120px;
    width: 100px;
}

#empty {
    margin: 3px;
    display: inline-block;
    border-top: 3px solid yellow;
    border-left: 3px solid yellow;
    border-right: 3px solid yellow;
    height: 120px;
    width: 100px;
    background-image: url("/clipart-nioubiteul-7634.png");
    background-position: center;
    background-size: cover;
    background-color: rgb(112, 112, 112);
}

#parking_lot_view {
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    background-color: rgb(112, 112, 112);
    padding: 20px 5px;
}

input {
    margin-top: 5px;
    width: 70px;
        box-shadow: 3px 3px 3px black;
}

#parking_lot {
    overflow: scroll;

}

#full_button {
    color: white;
    background: rgba(166, 166, 166, 0.59);
}

button {
    color: white;
    margin: 5px;
    box-shadow: 3px 3px 3px black;
    border-radius: 5px;
    background: rgba(40, 154, 203, 0.50);
    cursor: crosshair;
}
#transactions {
    list-style-type: none;
    border: 1px solid aqua;
    width: 80%;
    border-radius: 10px;
    background:rgb(32, 162, 190);
    box-shadow: 5px 5px 5px black;
    padding: 10px;
}
#transactions-overview {
    display: flex;
    justify-content: center;
}
#popup {
    width: 300px;
    height: 250px;
    border: 1px solid black;
    z-index: 1;
    position: absolute;
    margin-left: 90px;
    border-radius: 10px;
    background:rgb(32, 162, 190);
    box-shadow: 5px 5px 5px black;
}

#popup_button {
    background: white;
    color: black;
}
